<!-- Icono para abrir el menú -->
<div class="sidebar-icon" (click)="toggleMenu()">
  <span>☰</span>
</div>

<!-- Menú lateral -->
<div class="sidebar-menu" [class.open]="isMenuOpen" (click)="preventClose($event)">
  <!-- Ícono de cierre -->
  <div class="close-icon" (click)="toggleMenu()">
    <span>←</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/home" (click)="toggleMenu()">Inicio</a></li>
      <li><a routerLink="/photos" (click)="toggleMenu()">Fotos</a></li>
      <li><a routerLink="/videos" (click)="toggleMenu()">Videos</a></li>
      <li><a routerLink="/subscription" (click)="toggleMenu()">Suscripciones</a></li>
    </ul>
  </nav>
</div>

<!-- Capa para detectar clics fuera del menú -->
<div 
  class="overlay" 
  *ngIf="isMenuOpen" 
  (click)="toggleMenu()">
</div>
